{% extends "layout.html" %}

{% block content %}
<div class="content">
    <div id="content">
        <div class="header"><h1 class="page-title">Dashboard</h1></div>
        <ul class="breadcrumb">
            <li><a href="/">Home</a> <span class="divider">/</span></li>
            <li class="active">Dashboard</li>
        </ul>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="block-body gallery">
                <a href="/users/"><i class="icon-group icon-5x pull-left icon-border"></i></a>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock %}
